*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

header{
position:fixed;
width:100%;
top:0;
background:#111827;
z-index:999;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo{
font-size:28px;
font-weight:bold;
color:#38bdf8;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
transition:.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

.menu-btn{
display:none;
font-size:25px;
cursor:pointer;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:140px 8%;
min-height:100vh;
}

.hero-text{
max-width:550px;
}

.hero-text h1{
font-size:60px;
margin:10px 0;
}

.hero-text h2{
color:#38bdf8;
margin-bottom:20px;
}

.hero-text p{
line-height:1.7;
margin-bottom:30px;
}

.btn{
padding:15px 35px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:30px;
display:inline-block;
}

.hero-image img{
width:350px;
border-radius:50%;
border:5px solid #38bdf8;
}

section{
padding:80px 8%;
}

section h2{
text-align:center;
font-size:40px;
margin-bottom:40px;
}

.about p{
text-align:center;
max-width:900px;
margin:auto;
font-size:18px;
line-height:1.8;
}

.skill-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.card{
background:#1e293b;
padding:40px;
text-align:center;
border-radius:10px;
transition:.4s;
}

.card:hover{
background:#38bdf8;
transform:translateY(-10px);
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:10px;
transition:.3s;
}

.project-card:hover{
transform:scale(1.05);
}

.contact form{
display:flex;
flex-direction:column;
max-width:600px;
margin:auto;
gap:20px;
}

input,textarea{
padding:15px;
border:none;
border-radius:8px;
}

button{
padding:15px;
border:none;
background:#38bdf8;
color:white;
cursor:pointer;
font-size:18px;
}

footer{
padding:30px;
text-align:center;
background:#111827;
}

.reveal{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

@media(max-width:768px){

.hero{
flex-direction:column-reverse;
text-align:center;
}

.hero-image img{
width:250px;
margin-bottom:40px;
}

.nav-links{
position:absolute;
top:80px;
left:-100%;
width:100%;
background:#111827;
flex-direction:column;
text-align:center;
padding:30px;
transition:.5s;
}

.nav-links.active{
left:0;
}

.menu-btn{
display:block;
}

}